

@import "functions";
@import "helpers/variables";
@import "mixins";


// Custom
@import "mainPage";
@import "animation";
@import "project";
@import "components/modal";
@import "components/navbar";
//import的順序有關？

@import "root";
@import "print";
@import "reboot";
//重設樣式
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
// @import "navbar";
// @import "card";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
// @import "modal";
@import "tooltip";
@import "popover";
// @import "carousel";
@import "utilities";


// loading animation-------------
#loadingAnimation.loading_container{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg,rgba(65,65,65,1),rgba(30,30,30,1));
    z-index: 99999;
    .loading_logo{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 100px;
        height: 100px;
        animation: rotate 4s ease-in-out infinite;
    }
    .loading_wording{
        margin-top: 5px;
        padding-left: 5px;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        font-weight: 200;
        color: white;
        animation: blink 2s infinite;
    }
    .experience_wording{
        position: absolute;
        text-align: center;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        font-weight: 200;
        color: #888;
        i{
            font-size: 1.2rem;
        }
    }

}
@keyframes blink{
  0%{
      opacity: 1;
  }25%{
      opacity: 0.5;
  }50%{
      opacity: 0.3;
  }75%{
      opacity: 0.5;
  }100%{
      opacity: 1;
  }
}
@keyframes rotate{
  0%{
    transform: scale(1,1);
  }25%{
    transform: scale(0,1);
  }26%{  
    transform: scale(0,1);
  }50%{
    transform: scale(1,1);
  }75%{
    transform: scale(0,1);
  }76%{
    transform: scale(0,1);
  }100%{
    transform: scale(1,1);
  }
}
.svgLoadingLogo_path {
    fill: url(#svgLoadingLogo_fill_2);
    // fill-opacity: 0;
    stroke: url(#svgLoadingLogo_fill_2);
    stroke-width: 2;
}