@import "functions";
@import "helpers/variables";
@import "mixins";


// Custom
@import "mainPage";
@import "animation";
@import "project";
@import "components/modal";
@import "components/navbar";
//import的順序有關？

@import "root";
@import "print";
@import "reboot";
//重設樣式
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
// @import "custom-forms";
@import "nav";
// @import "navbar";
// @import "card";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
// @import "modal";
@import "tooltip";
@import "popover";
// @import "carousel";
@import "utilities";

// #wholePage {
//     position: relative;
// }
// loading animation-------------
#loadingAnimation.loading_container{
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    // border: 0.6rem solid #00B4F8;
 
    margin: 0.6rem;
    height: calc(100vh - 1.2rem);
    width: calc(100% - 1.2rem);
    @include media-breakpoint-up(xl){
        margin: 0.75rem;
        height: calc(100vh - 1.5rem);
        width: calc(100% - 1.5rem);
    }
    position: fixed;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg,rgba(65,65,65,1),rgba(30,30,30,1));
    transition: 3s;
    z-index: 99999;
    .loading_logo{
        width: 100px;
        height: 100px;
        animation: spin 4s ease-in-out infinite;
    }
    .loading_wording{
        // border: 1px solid green;
        // margin-top: 5px;
        padding-left: 5px;
        font-size: 0.9rem;
        letter-spacing: 0.4px;
        font-weight: 200;
        color: white;
        animation: blink 2s infinite;
    }
    .experience_wording{
        // border: 1px solid red;
        // width: 100%;
        position: absolute;
        text-align: center;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.9rem;
        letter-spacing: 0.4px;
        font-weight: 200;
        color: #888;
        i{
            font-size: 1.1rem;
        }
    }
}
.loading_fade_out{
    animation: fadeOut 0.8s forwards;
}
@keyframes blink{
  0%{
      opacity: 1;
  }25%{
      opacity: 0.5;
  }50%{
      opacity: 0.3;
  }75%{
      opacity: 0.5;
  }100%{
      opacity: 1;
  }
}
@keyframes spin{
  0%{
    transform: scale(1,1);
  }25%{
    transform: scale(0,1);
  }26%{  
    transform: scale(0,1);
  }50%{
    transform: scale(1,1);
  }75%{
    transform: scale(0,1);
  }76%{
    transform: scale(0,1);
  }100%{
    transform: scale(1,1);
  }
}
@keyframes fadeOut {
  0%{
      opacity: 1;
  }100%{
      opacity: 0;
  }
}
.svgLoadingLogo_path {
    fill: url(#svgLoadingLogo_fill_2);
    // fill-opacity: 0;
    stroke: url(#svgLoadingLogo_fill_2);
    stroke-width: 2;
}